
.navbar-nav {
    padding-left: var(--size-20);
    padding-right: var(--size-20);
    z-index: 100;
} 

.navbar .container{
    display: flex;
    padding-top: var(--size-10);
    background-color: cadetblue;
    border-bottom: 2px solid #ffffff42;
}

.nav-list {
    display: flex;
    margin-left: auto;
    gap: var(--size-20);
    align-items: center;
    color: white;
    margin-right: var(--size-15);

}

.nav-list ul{
    padding-right: var(--size-10)
}

.nav-list li{
    font-size: var(--size-20);
    border-radius: 20px;
    font-family: 'Oswald';
    font-weight: 300 ;
}


.pg-header .container {
    height: var(--size-150);
    background-image: url(/assets/stuff_aziii/potthing.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[aria-controls="navbarDropdown"] { display: none;}

.brand-logo { 
   margin-right: auto;
}

.brand-logo img {
    object-fit: cover;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.oneset .center{
    display: flex;
    margin: var(--size-40);
    justify-content: center;
}

.left-side .container{
    height: 80%;
    align-content: center;
    justify-content: space-evenly

}

.oneset .right-side{
    padding-left: var(--size-150);
}

.right-side .container{
    height: 950px;
}
.right-side .container img{
    height: 100%;
    border-radius: var(--size-50)
}

.settwo .container {
    height: var(--size-150);
    background-image: url(/assets/stuff_aziii/flowerone.JPG);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.setthree .container{
   display: grid;
   justify-content: center;
   gap: var(--size-20);
   margin: var(--size-50);
}

.setthree .top-left{
    grid-column: 1/1; 
    height: 450px;
    justify-self: center;
}

.setthree .bot-left{
    grid-column: 2/2; 
    height: 500px;
    justify-self: center;
}

.setthree .bot-left img{
    height: 100%;
    border-radius: 50px;
}

.setthree .top-right{
    grid-column: 1/2; 
    height: 500px;
    justify-self: center;
}

.setthree .bot-right{
    grid-column: 2/2; 
    height: 450px;
    justify-self: center;
    padding-right: var(--size-100);
}

.setthree .top-right img{
    height: 100%;
    border-radius: 50px;
}

.setfour .container {
    height: var(--size-150);
    background-image: url(/assets/last/image.JPG);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container{
    background-color: cadetblue;
    border-top: 2px solid #ffffff42;
}